/* PROJECTS */
h1 {
  text-align: center;
}

.container {
  padding: 50px 10px;
}

.project__list {
  padding-left: 0;
}

/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  .about_me__info__para {
    font-size: 18px;
  }

  .language {
    width: calc(100% / 3);
  }

  .project__description__para {
    font-size: 14px;
  }

  .project__description {
    left: 30px;
    padding-right: 30px;
  }
}

.text__purple {
  color: #6030b1;
}

/* SMALL PHONES */
@media (max-width: 480px) {
  .project__wrapper {
    border-radius: 0;
  }

  .project__description {
    padding: 0;
    left: 0;
    width: 100%;
  }

  .project__description__para {
    display: none;
  }

  .project__description__links {
    display: flex;
    justify-content: center;
  }

  .project__description__title {
    font-size: 32px;
    line-height: 1;
    text-align: center;
  }

  .project__description__sub_title {
    text-align: center;
    margin: 12px 0;
  }
}
